/* Google font styles */
/* main body font */
body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
  color: #e3c15d;
}
/* navigation and header font */
nav li, header h1, header h2 {
  font-family: "Montserrat", sans-serif;
  color: #e3c15d;
}

/* body styles */
html {
  width: 70%;
  margin: auto;
  background-color: #850000;
}

body {
  background-color: #bd0b0b;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

/* header styles */
header img {
  float: left;
  margin-right: 10px;
}

/* nav styles */
nav {
  padding-top: 10px;
}
nav ul {
  list-style-type: none;
  padding-inline-start: 0;
}
nav li {
  display: inline;
}
nav li a {
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
  background-color: #d46911;
  color: #ffffff;
}
/* change the link colours on hover */
nav li a:hover {
  background-color: #ffffff;
  color: #d46911;
  box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
}

/* footer styles */
footer {
  border-top: 1px solid #000000;
  overflow: hidden;
}
footer ul#social {
  float: right;
}
footer ul#legal {
  float: left;
}
